@font-face {
    font-family: "brice";
    src: local("brice"), url(./Brice/Brice-Black.otf) format("opentype");
}

* {
    font-family: "brice";
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

body {
    background-color: #FFD380;
}

html body .hidden {
    display: none;
}

header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

p {
    font-size: 35px;
    font-style: normal;
}

.joueur1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 148px;
    background: #E7643D;
    border: 2px solid #000000;
    border-radius: 20px;
}

.joueur12 {
    display: flex;
    position: absolute;
    width: 212px;
    height: 130px;
    border: 2px solid #000000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.joueur2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 148px;
    background: #EDB241;
    border: 2px solid #000000;
    border-radius: 20px;
    
}

.joueur22 {
    display: flex;
    position: absolute;
    width: 212px;
    height: 130px;
    border: 2px solid #000000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.main {
    display: flex;
    justify-content: center;
}

.grille {
    display: flex;
	width: 490px;
	flex-wrap: wrap;
    gap: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px;
}

.cercle {
    color: rgb(39, 185, 97);
	width: 50px;
    height: 50px;
    background-color: rgb(220, 220, 220);
	border: 1px solid black;
    border-radius: 100%;
    cursor: pointer;
}

.pieceDuJoueur1 {
    background-color:#E7643D;
}

.pieceDuJoueur2 {
    background-color:#EDB241;
}

.start {
    border-radius: 10px;
    background-color: #ee54ab5e;
    width: 200px;
    height: 50px;
}

.meilleur {
    width: 400px;
    height: 200px;
    border: 2px solid #000000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}


.restart {
    border-radius: 10px;
    background-color: #ee54ab5e;
    width: 200px;
    height: 50px;
}
